.mat-accent .mat-slider-track-fill {
  background-color: black !important;
}

.mat-slider-thumb-label {
  background-color: black !important;

}

.mat-slider-thumb {
  background-color: black !important;
}
